body {
  font-family: "Avenir Next";
  background-color: #EAE8E1
}

li {
  list-style: none;
}

.header {
  background-color: #A9C97D;
  color: white;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 80px;
  color: #66884B
}

.copy-container h2 {
  font-size: 60px;
  color: white
}

.copy-container span {
  font-size: 50px;
  color: white
}

.contents {
  height: 500px;
  margin-top: 100px;
  color: #2A433C
}

.section-title {
  border-bottom: 2px inset #2A433C;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  color: #2A433C
}

.contents-item {
  float: left;
  margin-right: 40px;
  color: #2A433C
}



.contents-item img {
  float: left;
  width: 250px;
  height: 180px;
}

.contents-item p {
  width: 200px;
  height: 150px;
  font-size: 24px;
  margin-top: 30px;
  color: #2A433C
}

.contact-form {
  padding-top: 100px;
  color: #2A433C
}

/* inputとtextareaのCSSを指定してください */
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 20px;
  border: 1px solid #dee7ec;
}

/* contact-submitのCSSを指定してください */
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: #A9C97D;
  color: white;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

